/* Styling for the navigation bar */
.navbar {
    background-color: #333;  /* Set the background color to dark gray */
    color: #fff; /* Set the font color to white */
    padding: 1rem 0; /* Add padding on the top and bottom */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Distribute space between elements */
    align-items: center; /* Vertically align items */
    font-family: Arial, sans-serif; /* Set font family */
  }
  /* Styling for the navigation bar title */
  .navbar-title {
    font-size: 1.8rem; /* Set font size */
    font-weight: bold; /* Set font weight to bold */
    margin-left: 20px; /* Add margin on the left side */
  }
  /* Styling for the navigation links container */
  .navbar-links {
    list-style: none; /* Remove list bullets */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically align items */
    gap: 20px; /* Add gap between items */
    margin-right: 20px; /* Add margin on the right side */
  }
  /* Styling for navigation links */
  .navbar-link-item a { 
    color: #fff; /* Set font color to white */
    text-decoration: none; /* Remove underline */
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically align items */
    font-size: 1.2rem; /* Set font size */
    transition: color 0.3s;  /* Add transition effect for color change */
  }
  /* Styling for navigation links on hover */
  .navbar-link-item a:hover {
    color: #e74c3c; /* Change font color on hover */
  }
  /* Styling for the cart badge */
  .cart-badge {
    background-color: #e74c3c; /* Set background color to red */
    color: #fff; /* Set font color to white */
    border-radius: 50%; /* Make a circular shape */
    padding: 4px 8px; /* Add padding */
    font-size: 0.8rem; /* Set font size */
  }
  /* Styling for user info container */
  .user-info {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Vertically align items */
  }
  /* Styling for user icon */
  .user-icon {
    margin-left: 5px; /* Add margin on the left side */
    font-size: 1.2rem; /* Set font size */
  }
  /* Styling for user info text */
  .user-info span {
    margin-right: 10px; /* Add margin on the right side */
    font-weight: bold; /* Set font weight to bold */
  }
  
/* Styling for the logout button */
  .navbar-link-item button {
    background-color: #e74c3c; /* Set background color to red */
    color: #fff; /* Set font color to white */
    border: none; /* Remove border */
    padding: 8px 15px; /* Add padding */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Show pointer cursor */
    transition: background-color 0.3s; /* Add transition effect for background color */
  }
  /* Styling for the logout button on hover */
  .navbar-link-item button:hover {
    background-color:#c0392b; /* Change background color on hover */
  }  